<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MBA-Tech Marketing and I.T</h1>
            <span>NMIMS University</span>
            <span><address>Mumbai, India</address><time>2011-2016</time></span>
        </header>
        <p>
            <em>CGPA:</em> #1 Rank Holder (3.58/4.00)<br>
            <em>S:</em>Online Marketing,Product Management, Community Building, Growth Hacks, Events & Campaign Management  ;
        </p>
    </article>
    <!-- <article>
        <header>
            <h1>Major in Marketing</h1>
            <span>NMIMS Univsesityn</span>
            <span><address>Mumbai,India</address><time>2011 to 2016</time></span>
        </header>
    </article> -->
</section>
