<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MBA Marketing</h1>
            <span>NMIMS University</span>
            <span><address>Mumbai, India</address><time>2011-2016</time></span>
        </header>
        <p>
            <em> #1 Rank Holder</em> - Marketing &amp; Information Technology <br>
            <em>CGPA: </em>3.58/4.00<br>
            <em><b>Competencies:</b> </em>Marketing Strategy, Online Marketing, New Venture Business Model, Leadership, International Marketing &amp; Organizational Behavior;
        </p>
        <header>
            <h1>B-Tech Information Technology </h1>
            <span>NMIMS University</span>
            <span><address>Mumbai, India</address><time>2011-2016</time></span>
        </header>
        <p>
            <em>CGPA: </em>3.54/4.00<br>
        </p>
    </article>
    <!-- <article>
        <header>
            <h1>Major in Marketing</h1>
            <span>NMIMS Univsesityn</span>
            <span><address>Mumbai,India</address><time>2011 to 2016</time></span>
        </header>
    </article> -->
</section>
