<section class="thirteen columns">
    <h1>Work Experience</h1>
    <article>
        <header>
            <h1>Head-Product</h1>
            <span><address><a class="link" href="https://styfi.in/">STYFI, India</a></address><time>Nov-2017 to Present</time></span>
        </header>
        <p>Product management for <a href="https://styfi.in/">STYFI's</a> android, iOS and web application. Key tasks include pre & post purchase experience optimisation. Design & validate e-commerce flow algorithms based upon user journey. Product requirement documentations for effective design &amp tech processes; </p>
    </article>
    <article>
        <header>
            <h1>Freelancer</h1>
            <span><address>FreeDo, India</address><time>2015</time></span>
        </header>
        <p>Built a fully fledged cloud based android application which provides an incentive channel for marketers and publishers to increase user engagements. Designed and implemented the web service required.</p>
    </article>
    <article>
        <header>
            <h1>Co-Founder, Tech Lead</h1>
            <span><address><a class="link" href="http://phonoapp.com/">Phono, India</a></address><time>2014 to 2015</time></span>
        </header>
        <p><em>Backend Application — </em> Designed and implemented a scalable sync based system using Google App Engine and Google Datastore. Implemented 'retargeting' feature using user data collected from the mobile application. Implemented cron jobs and task queue mechanism for periodic calculation of payments.</p>

        <p><em>Android Application — </em> Built full fledge and feature ready android application for Phono. Offline support implemented using pre-fetching ad assets and validating impression when user is connected. Hyper local ads support implemented using Google Play Services API. Integrated tools like GCM and Google Analytics. Testing the android app against various android OS versions and devices.</p>
    </article>
</section>
