<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Online Courses</h1>
            <span><address><a class="link" href="https://www.udacity.com">Udacity</a></address><time>2013-2014</time></span>
        </header>
        <p>
            Courses:
            <a href="https://www.udacity.com/courses/cs101">Intoduction to Computer Science</a>,
            <a href="https://www.udacity.com/courses/cs253">Web Development</a>,
            <a href="https://www.udacity.com/courses/cs255">HTML5 Game Development</a>,
            <a href="https://www.udacity.com/courses/ud853">Developing Android Apps</a>
        </p>
    </article>
    <article>
        <header>
            <h1>Student Volunteer</h1>
            <span><address>Project Ehsaas, MPSTME, India</address><time>2014</time></span>
        </header>
        <!-- <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p> -->
    </article>
</section>
