<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Languages &amp; Technology</h1>
        </header>
        <p>Python; JavaScript; Java</p>
        <p>Django; Google App Engine(Python SDK); Google Datastore; nodeJS </p>
        <p>Polymer; HTML5 Canvas 2D; HTML5 WebSocket; SOCKET.IO; AngularJS; Android Development </p>
        <p>AndroidStudio; PyCharm; Aurdino; SublimeText; Linux(Ubuntu); Windows </p>
        <!-- <ul>
          <li>Python; JavaScript; Java</li>
          <li>Django; Google App Engine(Python SDK); Google Datastore; nodeJS </li>
          <li>Polymer; HTML5 Canvas 2D; HTML5 WebSocket; SOCKET.IO; AngularJS; Android Development </li>
          <li>AndroidStudio; PyCharm; Aurdino; SublimeText; Linux(Ubuntu); Windows </li>
        </ul> -->
        <!-- <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Java</em>, <em>Python</em>, <em>PHP</em> &amp; <em>Git</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML5/CSS3</em> &amp; <em>Javascript</em>
        </p> -->
    </article>
</section>
