<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <header>
            <h1>Market Research for Indian Tourism via Indian Railways &amp; IRCTC (Dec'13) </h1>
        </header>
        <p>Research paper published in “International Conference on Research in Marketing” conducted by IIT-Delhi &amp; Curtin University Australia.</p>
        <p>Research validates significant increase of reach for inter-state tourism if promoted through vinyl wrapping of trains &amp; digital marketing on IRCTC </p>
    </article>
    <article>
        <header>
            <h1>Value Added Mobile Payment Service (Sept'13) </h1>
        </header>
        <p>Research paper published in “International Journal of Multidisciplinary Research” ISSN-2277 9302.</p>
            <p>Research explores an opportunity to pay bills using value added services of telecom companies without having a smartphone device.</p>
                <p>Currently, technologies like Airtel Money, PayTM and all wallet companies have implemented the same. </p>
    </article>
     
</section>
